<div class="notification{% if props.className %} {{ props.className }}{% endif %}" data-notification>
	<div class="notification__container container text-body-universal bg-grey" data-notification-container>
		{{ props.text }}
	</div>
</div>
