<section class="page__section cinema-intro">
	<h1 class="cinema-intro__title page-title" data-animation="fadeInSqueezeLetters">Маркет</h1>
	<div class="cinema-intro__text">
		<p>Броско Маркет — новый современный гипермаркет. Мы собрали самое передовое и лучшее в продуктовом ритейле со всего мира, чтобы представить это жителям Хабаровска.</p>
	</div>

	{{ component('picture', {
		src: 'market/market-cover.jpg',
		className: 'cinema-intro__picture',
		classNameImg: 'cinema-intro__img full-size-img',
		attr: 'data-animation="ZoomOut"'
	}) }}
</section>
