<section class="page__section cinema-intro">
	<h1 class="cinema-intro__title page-title" data-animation="fadeInSqueezeLetters">Маркет</h1>
	<div class="cinema-intro__text">
		<p>Броско Маркет — новый современный гипермаркет. Мы собрали самое передовое и лучшее в продуктовом ритейле со всего мира, чтобы представить это жителям Хабаровска.</p>
	</div>

	<picture class="cinema-intro__picture" data-animation="ZoomOut">
		<img class="cinema-intro__img full-size-img" src="/assets/images/market/market-cover.jpg" width="725" height="960" alt="">
	</picture>
</section>
