<section class="page__section marketing-contacts">
	<div class="container text-body-universal">
		<div class="marketing-contacts__content">
			<p class="marketing-contacts__name">Махров Сергей / Менеджер по рекламе</p>
			<p class="marketing-contacts__mail"><a class="text-l" href="mailto:makhrov.s@dv-nevada.ru">makhrov.s@dv-nevada.ru</a></p>
			<p class="marketing-contacts__tel"><a class="text-l" href="tel:8(924)400-39-69">8 (924) 400-39-69</a></p>
			<p class="marketing-contacts__desc">Презентация рекламных возможностей</p>
			{{ component('button', {
				className: 'marketing-contacts__download _full-width _file',
				text: 'Скачать',
				href: '#',
				attr: 'download'
			}) }}
		</div>
	</div>
</section>
