.page {
	$this: &;
	&._map {
		#{$this}__title-wrapper {
			position: relative;
			z-index: 2;
		}
		.page-title {
			margin-bottom: rem(-55);

			@media (max-width: $desktop) {
				@include smoothValue('margin-bottom', -40px, -55px, $desktop-md, $desktop);
			}

			@media (max-width: $desktop-sm) {
				@include smoothValue('margin-bottom', -12px, -40px, $mobile-lg, $desktop-sm);
			}
		}

		@media (max-width: $laptop-md) {
			#{$this}__title-wrapper {
				padding-top: rem(95);
			}
		}

		@media (max-width: $mobile-only) {
			.page-title {
				margin-bottom: rem(30);
			}
		}
	}
}
