.page {
	$this: &;
	&._marketing {
		#{$this}__title-wrapper {
			position: relative;
			z-index: 2;
			margin-bottom: rem(-60);
		}

		@media (max-width: $laptop-md) {
			#{$this}__main {
				padding-top: rem(130);
			}
		}

		@media (max-width: $mobile-only) {
			#{$this}__title-wrapper {
				margin-bottom: rem(-23);
			}
		}
	}
}
