<section class="page__section cinema-intro">
	<h1 class="cinema-intro__title page-title" data-animation="fadeInSqueezeLetters">Cinema 9 IMAX</h1>
	<div class="cinema-intro__text">
		<p>9-зальный мультиплекс рассчитанный на более чем 1000 посадочных мест</p>
		<p>Кинотеатр  наполнен современными решениями и новыми технологиями – это  первый IMAX кинотеатр, с невероятным качеством картинки и звука</p>

		{{ component('button', {
			className: '_more-link cinema-intro__more-link',
			text: 'Сайт кинотеатра',
			href: '#'
		}) }}
	</div>

	<picture class="cinema-intro__picture" data-animation="ZoomOut">
		<img class="cinema-intro__img full-size-img" src="/assets/images/cinema/cinema-cover.jpg" width="725" height="960" alt="">
	</picture>
</section>
