{% from "../components/system/component.njk" import component %}

<!DOCTYPE html>
<html class="page _loading {{ htmlClassMod }}" lang="ru">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>{% block title %}Торговый центр Brosko Mall | Официальный сайт{% endblock %}</title>

	<meta name="description" content="<meta name="description" content="Brosko Mall находится на берегу Амура, в 1 километре от центра города. На 4-х этажах Броско Молл разместились 120 магазинов и ресторанов, а также первый в Хабаровске кинотеатр IMAX. Магазины всемирно известных брендов и фудкорт объединенный общей концепцией «Кухни мира».">">

	<link rel="preload" href="/assets/fonts/CoFoSans-Regular.woff2" as="font" type="font/woff2" crossorigin>
	<link rel="preload" href="/assets/fonts/CoFoSans-Medium.woff2" as="font" type="font/woff2" crossorigin>

	<link rel="stylesheet" href="/assets/styles/styles.css?{% hash %}">

	{% include "./_favicons.njk" %}
	{% include "./_head-scripts.njk" %}

	{% block headend %}{% endblock %}

	<script defer src="/assets/scripts/bundle.js?{% hash %}"></script>
</head>

<body class="page__body">
	{% svgSprite %}

	<div class="page__wrapper wrapper{% if wrapperClassMod %} {{ wrapperClassMod }}{% endif %}">
		{% block pageWrapper %}{% endblock %}
	</div>

	{{ component('popups', { list: site.popupsList }) }}
</body>

</html>
