{% extends "./base.njk" %}

{% block pageWrapper %}

{{ component('header', { className: '_filter', feedbackFormLink: true }) }}

{% block content %}{% endblock %}

{{ component('footer', { socialsList: site.socialsList, copyright: site.copyright }) }}

{% endblock pageWrapper %}
