{% extends "./base.njk" %}

{% block pageWrapper %}

{{ component('header') }}

{% block content %}{% endblock %}

{{ component('footer', { socialsList: site.socialsList, copyright: site.copyright }) }}

{% endblock pageWrapper %}
