.rent-price {
	position: relative;
	&__title {
		margin-bottom: rem(40);
	}
	&__content {
		margin-inline: auto;
		max-width: rem(600);

		@media (max-width: $desktop-md) {
			max-width: rem(470);
		}
	}
	&__list {
		display: flex;
		flex-direction: column;
		row-gap: rem(40);
	}
	&__item {
		display: flex;
		flex-direction: column;
		row-gap: rem(10);
	}
	&__text {
		display: flex;
		flex-direction: column;
		row-gap: rem(10);
		margin-top: rem(80);
		a {
			text-decoration: underline;
			font-weight: 500;
			&:hover {
				text-decoration: none;
			}
		}
	}
}
