{% set eventsList = [
	{
		url: '/event',
		className: '_top',
		title: 'Фестиваль сахарной ваты',
		date: '5-6 февраля',
		imgSrc: 'events/event-8.jpg',
		imgWidth: '375',
		imgHeight: '375',
		bgColor: '#AFA7C9'
	},
	{
		url: '/event',
		className: '_top',
		title: 'Кулинарные мастер-классы в честь всемирного дня нутеллы',
		date: '5-6 февраля',
		imgSrc: 'events/event-2.jpg',
		imgWidth: '375',
		imgHeight: '375',
		bgColor: '#DF6F48'
	}
] %}

<section class="page__section events">
	<h2 class="events__title _center _mb section-title _xs" data-animation="fadeInLetters"><span>События</span></h2>
	<div class="events__container container">
		<ul class="events__list _top-only">
		{% for eventData in eventsList %}
			<li class="events__item{% if eventData.className %} {{ eventData.className }}{% endif %}">
				{{ component('event-card', eventData) }}
			</li>
		{% endfor %}
		</ul>

		{{ component('button', {
			className: '_more-link events__more-link',
			text: 'Aфиша событий',
			href: '/events'
		}) }}
	</div>
</section>
