<section class="page__section" data-section="parking-rules">
	<div class="text-content">
		<div id="parking-rules" class="page__title-wrapper page-title-wrapper">
			<h2 class="page-title _corner _reverse" data-animation="fadeInSqueezeLetters">Правила<br> парковки</h2>
		</div>

		<div class="text-content__content">
			<p class="lh-1 mb-m"><b>Общиe пpabилa парковки</b></p>

			<div class="cols-2 mb-xl">
				<div>
					<p>Режим работы</p>
					<p class="lh-1"><b>Ежедневно с 09:00 до 02:30.</b></p>
				</div>
				<div>
					<p>Тарифы</p>
					<p class="lh-1"><b>Стоимость — 100 ₽/час.</b></p>
				</div>
			</div>
		</div>

		<figure class="mb-l">
			<figcaption class="mb-m">Схема проезда</figcaption>
			{{ component('img', {
				src: 'rules/parking-map.png'
			}) }}
		</figure>

		<div class="text-content__content">
			<ul class="mb-xl">
				<li>Факт въезда на территорию Парковки подтверждает Ваше согласие с настоящими правилами.</li>
				<li>Оплата за услуги производится в платежном терминале, встроенным в паркомат, на выезде банковской картой, или технологией NFC. Наличными средствами в паркомате, расположенном на территории парковки.</li>
				<li>В течение 15 (пятнадцати) минут с момента оплаты транспортное средство должно покинуть территорию паркинга. В противном случае, начиная с 16 (шестнадцатой) минуты, каждый последующий неполный час стоянки, тарифицируется как полный час.</li>
				<li>Владелец транспортного средства обязан соблюдать требования пожарной безопасности на территории Платной парковки.</li>
				<li>Оставлять транспортное средство на ночь запрещено. В период с 02:30 до 08:30 транспортные средства, находящиеся на территории парковки подлежат эвакуации в соответствии с п. 3.9. «Положения о платной автоматизированной (неохраняемой) парковке автотранспорта».</li>
				<li>Скорость движения по парковке — не более 5 км/ч.</li>
				<li>Движение по парковке осуществляется исключительно в соответствии с нанесенной дорожной разметкой и установленными указателями.</li>
				<li>На территорию парковки запрещается въезд транспортным средствам: максимальная разрешенная масса которых, превышает 3500 кг и/или число сидячих мест, которых, помимо сидячего места водителя превышает восемь; транспортным средствам с крупногабаритным грузом; составам транспортных средств, мототехнике (мотоциклам, мопедам, скутерам и т.д.)</li>
				<li>За повреждение или кражу транспортного средства, а так же за сохранность вещей, хранящихся в транспортном средстве, Администрация ТРК ответственности не несет.</li>
				<li>В случае ДТП на Парковке или непосредственно возле въезда на нее Посетитель обязан выполнить требования ПДД, а кроме того, немедленно известить любого из сотрудников Администрации, Службы Контроля для оказания ими содействия в скорейшем устранении последствий ДТП в целях восстановления беспрепятственного движения транспортных средств.</li>
				<li>Количество парковочных мест ограничено. В том случае, если свободных мест нет, договор не может быть заключен и услуги не могут быть предоставлены. Претензии по этому факту не принимаются.</li>
				<li>Штраф за утерю парковочной карты — 500 рублей.</li>
			</ul>

			<p class="mw-375 lh-1 mb-l"><b>На территории парковки запрещено:</b></p>

			<ul class="mb-m">
				<li>Нарушать требования дорожных знаков, разметки, ПДД.</li>
				<li>Допускать стоянку и остановку транспортных средств в неустановленных для этого местах.</li>
				<li>Осуществлять стоянку транспортного средства с работающим двигателем.</li>
				<li>Загромождать проезды и выезды с территории парковки, пешеходные дорожки и эвакуационные выходы.</li>
				<li>Парковать автотранспорт на проезжих частях, въездах и выездах, вне зон парковочных «карманов», возле дверей вспомогательных помещений, расположенных на территории, на местах для инвалидов в отсутствии соответствующего права, а также в любых других местах , кроме специально отведенных парковочных мест, обозначенных соответствующей разметкой.</li>
				<li>Допускать остановку, стоянку транспортного средства в нарушение дорожных знаков и разметки, в том числе под видом аварийных (с включением знака аварийной остановки).</li>
				<li>Оставлять (парковать) неисправные автомобили, в том числе при наличии утечки горюче-смазочных материалов.</li>
				<li>Мыть транспортные средства, осуществлять ремонт, менять жидкости и масла, аккумуляторы, колеса и прочее, в том числе осуществлять заправку транспортных средств топливом и прочими ГСМ. Владелец неисправного транспортного средства должен за свой счет и своими силами эвакуировать транспортное средство.</li>
				<li>Передвижение на роликовых коньках, скейтбордах, велосипедах и т.п. по дорогам и местах стоянки машин, во избежание несчастных случаев.</li>
			</ul>

			<div class="text-content__buttons">
				{{ component('button', {
					className: '_full-width _file',
					text: 'Положение о парковке',
					href: '#',
					attr: 'download'
				}) }}
				{{ component('button', {
					className: '_full-width _file',
					text: 'Публичный договор',
					href: '#',
					attr: 'download'
				}) }}
			</div>
		</div>
	</div>
</section>
