
<section class="page__section cinema-intro">
	<h1 class="cinema-intro__title page-title" data-animation="fadeInSqueezeLetters">Brosko Дети</h1>
	<div class="cinema-intro__text">
		<p>Детское пространство в самом большом торгово-развлекательном центре Дальнего&nbsp;Востока.</p>
		<p>Работаем ежедневно с <span class="nowrap">10-00</span> до&nbsp;<span class="nowrap">22-00</span></p>

		{{ component('button', {
			className: '_more-link cinema-intro__more-link',
			text: 'Перейти на сайт',
			href: '#'
		}) }}
	</div>

	<picture class="cinema-intro__picture" data-animation="ZoomOut">
		<img class="cinema-intro__img full-size-img" src="/assets/images/kids/kids-cover.jpg" width="725" height="960" alt="">
	</picture>
</section>
