<section class="page__section commune">
	<div class="commune__title-wrapper">
		<h2 class="commune__title section-title _reverse" data-animation="fadeInLetters"><span>Коммуна</span></h2>
		<div class="commune__text" data-animation="fadeIn">
			<p>Коммуна — это люди, их творчество, идеи, энергия и образование</p>
		</div>
	</div>
	<div class="commune__container container">
		{{ component('picture', {
			src: 'commune/commune-cover.jpg',
			className: 'commune__picture',
			classNameImg: 'commune__img',
			attr: 'data-parallax-img'
		}) }}
		<article class="commune__card" data-parallax-card>
			{{ component('picture', {
				src: 'commune/commune-card.jpg',
				className: 'commune__card-picture',
				classNameImg: 'commune__card-img'
			}) }}
			<div class="commune__card-text">
				<p>Первое в Хабаровске культурно-образовательное пространство, расположенное в торговом центре. Это новый опыт, который «BROSKO MALL» дарит своим посетителям</p>
			</div>
			{{ component('button', {
				className: '_more-link commune__card-link',
				text: 'Подробнее о коммуне',
				href: '#'
			}) }}
		</article>
	</div>
</section>
