<section class="intro-event">
	<h1 class="intro-event__title page-title" data-ticker><span>Открытие месяца: новый магазин одежды и аксессуаров LIME</span></h1>
	<picture class="intro-event__picture" data-animation="ZoomOut">
		<img class="intro-event__img full-size-img" src="/assets/images/events/intro-event-1.jpg" width="755" height="480" alt="">
	</picture>
</section>
