{% set aboutGallery = [
	'about/about-1.jpg',
	'about/about-2.jpg',
	'about/about-3.jpg'
] %}

<section class="page__section about">
	<div class="about__title-wrapper">
		<h2 class="about__title section-title _sm" data-animation="fadeInLetters"><span>О нас</span></h2>
		<div class="about__text" data-animation="fadeIn">
			<p>Наш торгово-развлекательный комплекс обладает необычной запоминающейся архитектурой.  Это место с человеческой душой, особой атмосферой уюта и комфорта.</p>
		</div>
	</div>
	<div class="about__gallery">
	{% for img in aboutGallery %}
		{{ component('picture', {
			src: img,
			className: 'about__picture',
			classNameImg: 'about__img full-size-img'
		}) }}
	{% endfor %}
	</div>
</section>
