<section class="page__section about">
	<div class="about__title-wrapper">
		<h2 class="about__title section-title _sm" data-animation="fadeInLetters"><span>О нас</span></h2>
		<div class="about__text" data-animation="fadeIn">
			<p>Наш торгово-развлекательный комплекс обладает необычной запоминающейся архитектурой.  Это место с человеческой душой, особой атмосферой уюта и комфорта.</p>
		</div>
	</div>
	<div class="about__gallery">
		<picture class="about__picture">
			<img class="about__img full-size-img" src="/assets/images/about/about-1.jpg" width="1010" height="625" alt="">
		</picture>
		<picture class="about__picture">
			<img class="about__img full-size-img" src="/assets/images/about/about-2.jpg" width="376" height="546" alt="">
		</picture>
		<picture class="about__picture">
			<img class="about__img full-size-img" src="/assets/images/about/about-3.jpg" width="501" height="728" alt="">
		</picture>
	</div>
</section>
