<section class="page__section cinema-intro">
	<h1 class="cinema-intro__title page-title" data-animation="fadeInSqueezeLetters">Коммуна</h1>
	<div class="cinema-intro__text">
		<p>Коммуна — это люди, их творчество, их идеи, энергия и образование. Это первое в Хабаровске культурно-образовательное пространство, расположенное в торговом центре.</p>
		<p>Это новый опыт, который «BROSKO MALL» дарит своим посетителям.</p>
	</div>

	{{ component('picture', {
		src: 'commune/commune-cover.jpg',
		className: 'cinema-intro__picture',
		classNameImg: 'cinema-intro__img full-size-img',
		attr: 'data-animation="ZoomOut"'
	}) }}
</section>
