<section class="page__section cinema-intro">
	<h1 class="cinema-intro__title page-title" data-animation="fadeInSqueezeLetters">Коммуна</h1>
	<div class="cinema-intro__text">
		<p>Коммуна — это люди, их творчество, их идеи, энергия и образование. Это первое в Хабаровске культурно-образовательное пространство, расположенное в торговом центре.</p>
		<p>Это новый опыт, который «BROSKO MALL» дарит своим посетителям.</p>
	</div>

	<picture class="cinema-intro__picture" data-animation="ZoomOut">
		<img class="cinema-intro__img full-size-img" src="/assets/images/commune/commune-cover.jpg" width="725" height="960" alt="">
	</picture>
</section>
