.vacancy-form {
	--padding: #{rem(10)};

	position: relative;
	display: flex;
	height: 100%;
	&__container {
		display: flex;
		flex-grow: 1;
		flex-direction: column;
		padding: var(--padding);
		padding-bottom: 0;
		overflow: auto;
	}
	&__title {
		margin-bottom: 0;
	}
	&__desc {
		margin-top: rem(5);
	}
	&__back-btn {
		--padding: 0;

		display: none;
		align-self: flex-start;
		order: -1;
		margin-bottom: rem(16);
		._vacancy-popup & {
			display: inline-flex;
		}
	}
}
