<h2 class="title-img{% if props.className %} {{ props.className }}{% endif %}" style="--bg-img: url({{ props.img }});--bg-img-mobile: url({{ props.imgMobile }})" data-animation="fadeInLetters">
	<span>{{ props.text | safe }}</span>
</h2>
