<section class="page__section contacts">
	<div class="contacts__container container text-body-universal">
		<div class="contacts__intro">
			<div class="contacts__address">
				<p class="contacts__subtitle">{{ contacts.label2 }}</p>
				<p class="contacts__address-text text-m-universal-medium uppercase">
					{{ contacts.postcode }}, {{ contacts.city }}, {{ contacts.street }}
				</p>
			</div>

			<div class="contacts__hours">
				<p class="contacts__subtitle">{{ contacts.label3 }}</p>
				<dl class="contacts__hours-list text-m-universal-medium uppercase">
				{% for item in contacts.openingHours %}
					<div class="contacts__hours-item">
						<dt>{{ item.name }}</dt>
						<dd>{{ item.hours }}</dd>
					</div>
				{% endfor %}
				</dl>
			</div>

			{{ component('button', {
				className: '_more-link _plus contacts__open-form-btn',
				text: 'Заявка на аренду',
				attr: 'data-popup-opener="feedback-form"'
			}) }}
		</div>

		<div class="contacts__content">
			{% if contacts.staffContacts %}
				<table class="contacts__table">
					<tbody>
						{% for item in contacts.staffContacts %}
							<tr>
								{% if item.title %}
									<th class="text-body-universal" scope="row">{{ item.title }}</th>
								{% endif %}
								<td>
									{% if item.name %}
										<span>{{ item.name }}</span>
									{% endif %}
									{% if item.email %}
										<a class="text-m-universal-medium uppercase" href="mailto:{{ item.email }}">{{ item.email }}</a>
									{% endif %}
									{% if item.tel %}
										<a class="tel text-m-universal-medium uppercase" href="tel:{{ item.tel }}">{{ item.tel }}</a>
									{% endif %}
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			{% endif %}

			<div class="contacts__socials">
				<p class="contacts__subtitle">{{ contacts.label4 }}</p>
				{% if contacts.socials %}
					<ul class="text-m-universal-medium uppercase">
						{% for item in contacts.socials %}
							<li><a href="{{ item.link }}" target="_blank" rel="nofollow">{{ item.name }}</a></li>
						{% endfor %}
					</ul>
				{% endif %}
			</div>


			<div class="contacts__map">
				{{ component('picture', {
					src: 'contacts/contacts-map.png',
					className: 'contacts__map-placeholder',
					classNameImg: 'full-size-img'
				}) }}
				<div class="contacts__map-container" data-map="ya" data-longitude="135.079222" data-latitude="48.462181"></div>
			</div>
		</div>
	</div>
</section>
