{% set marketingAccordeon = [
	{
		title: 'Медиаэкраны (большие)',
		img: '/assets/images/marketing/mediascreens-big.jpg',
		imgWidth: '114',
		imgHeight: '85',
		desc: '<p>Максимальный формат видео. Невозможно пропустить</p>'
	},
	{
		title: 'Медиаэкраны (малые)',
		img: '/assets/images/marketing/mediascreens-small.jpg',
		imgWidth: '114',
		imgHeight: '85',
		desc: '<p>На входе. Пешеходный трафик</p>'
	},
	{
		title: 'Слимбокс',
		img: '/assets/images/marketing/slimbox.jpg',
		imgWidth: '114',
		imgHeight: '85',
		desc: '<p>Новинка. Оригинальный формат</p>'
	},
	{
		title: 'Баннер',
		img: '/assets/images/marketing/banner.jpg',
		imgWidth: '114',
		imgHeight: '85',
		desc: '<p>Большой формат для вашей рекламы</p>'
	},
	{
		title: 'Инсталляции',
		img: '/assets/images/marketing/installations.jpg',
		imgWidth: '114',
		imgHeight: '85',
		desc: '<p>Творческий подход к рекламе товара и услуги</p>'
	},
	{
		title: 'Уличные флаги',
		img: '/assets/images/marketing/outside-flags.jpg',
		imgWidth: '114',
		imgHeight: '85',
		desc: '<p>Тонкие, яркие, на всех этажах BroskoMall, максимальное внимание.</p>'
	},
	{
		title: 'Радио',
		img: '/assets/images/marketing/radio.jpg',
		imgWidth: '114',
		imgHeight: '85',
		desc: '<p>Эффективный канал для аудио информации</p>'
	},
	{
		title: 'Коммуна',
		img: '/assets/images/marketing/commune.jpg',
		imgWidth: '114',
		imgHeight: '85',
		desc: '<p>Позволяет проводить мероприятия любого формата</p>'
	}
] %}

<div class="page__section accordion-marketing container flex flex-col gap-10">
{% for item in marketingAccordeon %}
	<section>
		<div class="accordion" data-accordion>
			<div class="accordion__toggle cols-15" data-accordion-toggle>
				<h2 class="accordion__title text-l">{{ item.title | safe }}</h2>
				<div class="accordion__desc text-body-universal">
					<picture class="accordion__picture">
						<img class="full-size-img" src="{{ item.img }}" width="{{ item.imgWidth }}" height="{{ item.imgHeight }}" alt="">
					</picture>
					{{ item.desc | safe }}
				</div>
				<button class="accordion__button" type="button" aria-label="Toggle"></button>
			</div>
			<div class="accordion__content" data-accordion-content>
				{% include "marketing/accordion-content/accordion-content.njk" %}
			</div>
		</div>
	</section>
{% endfor %}
</div>
