<section class="vacancy" data-vacancy-popup>
	<div class="vacancy__container">
		<h2 class="popups__title vacancy__title">Специалист отдела кадров</h2>
		<div class="vacancy__content text-body-universal">
			<h3>Обязанности:</h3>
			<ul>
				<li>ведение кадрового делопроизводства в полном объеме (прием, кадровое перемещение, увольнение, листы нетрудоспособности, командировки);</li>
				<li>разработка, согласование и внедрение положений о структурных подразделениях, должностных инструкций, приказов и других различных ЛНА;</li>
				<li>консультирование сотрудников по трудовым вопросам;</li>
				<li>заполнение больничных листов, ведение табеля учета рабочего времени;</li>
				<li>формирование и ведение личных дел сотрудников;</li>
				<li>составление графика отпусков;</li>
				<li>предоставление отчетности и т.п.</li>
			</ul>
			<h3>Требования:</h3>
			<ul>
				<li>ведение кадрового делопроизводства в полном объеме (прием, кадровое перемещение, увольнение, листы нетрудоспособности, командировки);</li>
				<li>разработка, согласование и внедрение положений о структурных подразделениях, должностных инструкций, приказов и других различных ЛНА;</li>
				<li>консультирование сотрудников по трудовым вопросам;</li>
				<li>заполнение больничных листов, ведение табеля учета рабочего времени;</li>
				<li>формирование и ведение личных дел сотрудников;</li>
				<li>составление графика отпусков;</li>
				<li>предоставление отчетности и т.п.</li>
			</ul>
			<h3>Условия:</h3>
			<ul>
				<li>трудоустройство согласно ТК РФ;</li>
				<li>постоянная ставка, белая заработная плата;</li>
				<li>пятидневная рабочая неделя;</li>
				<li>адрес расположения: г. Хабаровск, ул. Пионерская, 2В (ТЦ «BROSKO MАLL»)</li>
			</ul>
		</div>
		<div class="vacancy__bottom">
			{{ component('button', {
				className: 'vacancy__button _full-width _popup _plus _white',
				text: 'Оставить резюме',
				attr: 'data-vacancy-form-opener'
			}) }}
		</div>
	</div>
</section>
