{% set eventsListPast = [
	{
		url: '/event',
		title: 'Brosco Loto',
		date: '18 января',
		imgSrc: 'events/event-14.jpg',
		imgWidth: '375',
		imgHeight: '375',
		bgColor: '#66C5FB'
	},
	{
		url: '/event',
		title: 'Время подарков в MIUZ Diamonds!',
		date: '17 января',
		imgSrc: 'events/event-15.jpg',
		imgWidth: '375',
		imgHeight: '375',
		bgColor: '#F9EA48'
	},
	{
		url: '/event',
		title: 'Новинки кинопроката в нашем кинотеатре',
		date: '15 января',
		imgSrc: 'events/event-16.jpg',
		imgWidth: '375',
		imgHeight: '375',
		bgColor: '#EF6EC7'
	},
	{
		url: '/event',
		title: 'До –60% в Belle YOU! Время обновить гардероб!',
		date: '15 января',
		imgSrc: 'events/event-17.jpg',
		imgWidth: '375',
		imgHeight: '375',
		bgColor: '#54D890'
	},
	{
		url: '/event',
		title: 'Фестиваль Brosco Маркет',
		date: '5-6 февраля',
		imgSrc: 'events/event-18.jpg',
		imgWidth: '375',
		imgHeight: '375',
		bgColor: '#5EBBB6'
	}
] %}

<section class="page__section events _others bg-grey-light">
	<div class="events__container container">
	<h2 class="events__title _mb-xl text-center text-l"><span>Другие события</span></h2>
		<ul class="events__list">
		{% for eventData in eventsListPast %}
			<li class="events__item{% if eventData.className %} {{ eventData.className }}{% endif %}">
				{{ component('event-card', eventData) }}
			</li>
		{% endfor %}
		</ul>
	</div>
</section>
