{% set foodCoverImages = [
	{
		src: 'food/trattoria.jpg'
	},
	{
		src: 'food/trattoria.jpg'
	},
	{
		src: 'food/trattoria.jpg'
	}
] %}

<section class="food">
	<div class="food__cover">
		<p class="food__cover-title text-l">BROSKO Траттория</p>
		{{ component('img', {
				src: 'food/trattoria-logo.png',
				className: 'food__cover-logo'
			}) }}

		{{ component('slider', {
			className: 'food__cover-slider',
			images: foodCoverImages,
			pagination: true
		}) }}
	</div>

	<div class="food__container">
		<p class="food__categories">Итальянский ресторан</p>
		<p class="food__floor">3 этаж</p>

		<div class="food__info">
			<p class="food__info-item">
				Телефон
				<a href="tel:+7(421)272-70-10">+7 (421) 272-70-10</a>
			</p>
			<p class="food__info-item">
				Часы работы
				<b>11:00 – 23:00</b>
			</p>
			<p class="food__info-item">
				<a href="https://broskopizza.ru/" target="_blank" rel="nofollow">broskopizza.ru</a>
			</p>
		</div>

		<div class="food__desc">
			<p>«Траттория» – настоящая итальянская кухня, воплощённая в стенах единственного на Дальнем Востоке панорамного ресторана с видом на Амур. Простая итальянская еда из продуктов с собственной фермы, открытая кухня и по-настоящему семейная атмосфера. Свежие овощи, ароматный сыр, пышное тесто, яркие соусы создают безупречную гармонию вкуса. Устраивайтесь поудобнее и наслаждайтесь моментом: красивой природой, неспешным ужином, приятным общением с близкими и друзьями. Приглушённая музыка, доброжелательная итальянская атмосфера и деликатный сервис помогают отвлечься от суеты и по-настоящему отдохнуть.</p>
			<p>Просторный большой зал с красивым видом, который днём залит солнечным светом. Здесь приятно провести обед с коллегами или друзьями, встретиться с семьей. Мягкая зона идеально подходит для романтического ужина, позволяя насладиться временем наедине даже в зале полном людей. Открытая кухня – наша гордость. Вы можете понаблюдать, как повара раскатывают пасту или собирают пиццу, которая вот-вот отправиться в печь, а уже через несколько минут – к вам на стол. Это настоящее представление, а также гарантия качества блюд и честного состава. Пришли на обед с детьми? Обязательно загляните в просторную детскую зону. Уютный уголок с горками и лестницами, мягким ковром, плюшевыми игрушками и книгами не даст заскучать, пока взрослые разговаривают о своём.</p>
		</div>

		<div class="food__bottom">
			{{ component('button', {
				className: 'food__map-link _popup',
				href: '/map',
				text: 'Показать на карте'
			}) }}
		</div>
	</div>
</section>
