.footer {
	position: relative;
	display: grid;
	grid-template-columns: 1fr calc(758 / 1920 * 100%);
	grid-auto-rows: min-content;
	column-gap: rem(20);
	padding: rem(40);
	padding-top: 0;

	@media (max-width: $laptop) {
		padding: rem(20) rem(10);
		padding-top: 0;
	}

	@media (max-width: $mobile-only) {
		grid-template-columns: auto;
	}
	&__logo-link {
		display: flex;
		grid-column: 1/-1;
		margin-bottom: rem(-42);

		@media (max-width: $desktop-sm) {
			margin-bottom: rem(-22);
		}

		@media (max-width: $mobile-only) {
			margin-bottom: rem(30);
		}
	}
	&__logo-icon {
		width: 100%;
		height: rem(250);

		@media (max-width: $desktop) {
			@include smoothValue('height', 185px, 250px, $desktop-sm, $desktop);
		}

		@media (max-width: $desktop-sm) {
			@include smoothValue('height', 47px, 185px, $mobile-md, $desktop-sm);
		}
	}
	&__cards {
		position: relative;
		grid-row: span 2;
		grid-column: 1/2;

		@media (max-width: $mobile-only) {
			grid-area: auto;
		}
	}
	&__cards-item {
		position: relative;
		margin-top: rem(-150);
		width: fit-content;
		&:nth-child(even) {
			margin-inline-start: rem(300);
		}
		&:nth-child(odd) {
			margin-top: rem(-134);
			margin-inline-start: rem(35);
		}
		&:first-child {
			margin: 0;
		}
		&:hover {
			z-index: 2;
		}

		@media (max-width: $laptop-md) {
			margin-top: rem(-77);
			&:nth-child(even) {
				margin-inline-start: rem(125);
			}
			&:nth-child(odd) {
				margin-top: rem(-90);
				margin-inline-start: rem(10);
			}
			&:first-child {
				margin: 0;
			}
		}

		@media (max-width: $mobile-md) {
			&:nth-child(even) {
				margin-inline-start: auto;
			}
		}
	}
	&__cards-link {
		display: block;
		padding: rem(10);
		box-sizing: border-box;
		width: rem(340);
		min-height: rem(190);
		border: 1px solid var(--black);
		background-color: var(--white);
		text-transform: uppercase;
		text-decoration: none;
		font-weight: 500;
		transition: background-color $fast-transition-duration $default-transition-function;
		.bg-black & {
			border-color: var(--white);
			background-color: var(--black-light);
		}
		.bg-yellow & {
			border-color: var(--black);
			background-color: var(--yellow);
		}
		.bg-red-dark & {
			border-color: var(--yellow-dark);
			background-color: var(--red-dark);
		}
		.bg-green & {
			border-color: var(--black);
			background-color: var(--green);
		}
		&:hover {
			border: 1px solid var(--black);
			background-color: var(--bg-color);
			color: var(--black);
		}

		@media (max-width: $laptop-md) {
			width: rem(230);
			min-height: rem(130);
		}

		@media (max-width: $mobile-md) {
			display: flex;
			flex-direction: column;
			&::after {
				content: '→';
				margin-top: auto;
			}
		}
	}
	&__socials {
		display: flex;
		grid-row: 4/5;
		grid-column: 1/2;
		gap: rem(20);
		margin-top: rem(40);

		@media (max-width: $desktop-sm) {
			margin-top: rem(45);
		}

		@media (max-width: $mobile-only) {
			grid-area: auto;
			gap: rem(10);
			margin-top: rem(100);
		}
	}
	&__socials-item {
		display: inline-flex;
	}
	&__socials-link {
		@extend .animated;

		text-transform: uppercase;
		text-decoration: none;
		font-weight: 500;
		&:hover {
			opacity: 0.7;
		}
		&:active {
			opacity: 0.6;
		}
	}
	&__col {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-row: span 2;
		grid-column: 2/3;
		gap: rem(60) rem(35);
		padding-top: rem(142);

		@media (max-width: $desktop-sm) {
			row-gap: rem(40);
			padding-top: rem(80);
		}

		@media (max-width: $mobile-only) {
			grid-area: auto;
			gap: rem(60) rem(5);
		}
	}
	&__links-wrapper {
		&._menu {
			grid-row: 1/2;
			grid-column: 1/2;
		}
		&._projects {
			grid-row: 2/3;
			grid-column: 1/2;
		}
		&._info {
			grid-row: 1/2;
			grid-column: 2/3;
		}
	}
	&__links {
		display: flex;
		flex-direction: column;
		row-gap: rem(15);
		a {
			@extend .animated;

			text-decoration: none;
			&:hover {
				opacity: 0.7;
			}
			&:active {
				opacity: 0.6;
			}
		}

		@media (max-width: $mobile-only) {
			row-gap: rem(20);
		}
	}
	&__links-title {
		margin-bottom: rem(15);
		text-transform: uppercase;
		font-weight: 500;

		@media (max-width: $mobile-only) {
			margin-bottom: rem(20);
		}
	}
	&__copyright {
		grid-row: 4/5;
		grid-column: 2/3;
		place-self: end end;
		opacity: 0.4;

		@media (max-width: $mobile-only) {
			display: none;
		}
	}
}
