<section class="page__section intro-rent _marketing">
	<div class="intro-rent__container container">
		<div class="intro-rent__content text-body-universal">
			<p>Броско Молл — самый крупный торговый центр города Хабаровска, с высокой проходимостью и уникальным подбором арендаторов. Мы предлагаем выгодные условия для вашего бизнеса.</p>
		</div>

		<div class="intro-rent__cover">
			<picture class="slider__picture">
				<img class="slider__img full-size-img" src="/assets/images/rent/rent-cover.jpg" width="955" height="670" alt="" loading="lazy">
			</picture>
		</div>
	</div>
</section>
