<section class="page__section intro-rent _marketing">
	<div class="intro-rent__container container">
		<div class="intro-rent__content text-body-universal">
			<p>Броско Молл — самый крупный торговый центр города Хабаровска, с высокой проходимостью и уникальным подбором арендаторов. Мы предлагаем выгодные условия для вашего бизнеса.</p>
		</div>

		<div class="intro-rent__cover">
			{{ component('picture', {
				src: 'rent/rent-cover.jpg',
				className: 'accordion__picture',
				classNameImg: 'full-size-img'
			}) }}
		</div>
	</div>
</section>
