{% set introNavList = [
	{ id: 'stores', href: '/stores', text: 'Магазины' },
	{ id: 'food', href: '/food', text: 'Еда' },
	{ id: 'cinema', href: '/cinema', text: 'Кинотеатр' },
	{ id: 'commune', href: '/commune', text: 'Коммуна' }
] %}


<section class="page__section intro" data-intro>
	<div class="intro__list-wrapper">
		<ul class="intro__list text-l">
			{% for item in intro.data %}
				<li class="intro__item" style="--color:{{ item.color }}">
					<a class="intro__link" href="/{{ item.slug }}" data-section="{{ item.slug }}">
						<span class="intro__link-text">{{ item.title }}</span>
						{% if item.showCounter %}
							<span class="intro__link-counter">{{ item.count }}</span>
						{% endif %}
					</a>
				</li>
			{% endfor %}
		</ul>
	</div>

	<div class="intro__slider-container">
		<div class="intro__slider-wrapper swiper" data-intro-slider>
			{# <div class="intro__slider swiper-wrapper">
				<div class="intro__slide swiper-slide">
					{{ component('picture', {
						src: 'intro/slide-1.jpg',
						className: 'intro__slide-img',
						classNameImg: 'full-size-img',
						loading: 'eager',
						decoding: 'sync'
					}) }}
				</div>
				<div class="intro__slide swiper-slide">
					{{ component('picture', {
						src: 'intro/slide-2.jpg',
						className: 'intro__slide-img',
						classNameImg: 'full-size-img',
						loading: 'eager',
						decoding: 'sync'
					}) }}
				</div>
			</div> #}
			<video src="{{ home.introVideo }}" width="960" height="1080" loop autoplay playsinline muted></video>
		</div>
	</div>
</section>
