{% set introNavList = [
	{ id: 'stores', href: '/stores', text: 'Магазины' },
	{ id: 'food', href: '/food', text: 'Еда' },
	{ id: 'cinema', href: '/cinema', text: 'Кинотеатр' },
	{ id: 'commune', href: '/commune', text: 'Коммуна' }
] %}


<section class="page__section intro" data-intro>
	<div class="intro__list-wrapper">
		<ul class="intro__list text-l">
			{% for item in introNavList %}
				<li class="intro__item">
					<a class="intro__link" href="{{ item.href }}" data-section="{{ item.id }}">
						<span class="intro__link-text">{{ item.text }}</span>
					</a>
				</li>
			{% endfor %}
				<li class="intro__item">
					<a class="intro__link" href="/career" data-section="career">
						<span class="intro__link-text">Вакансии</span>
						<span class="intro__link-counter">5</span>
					</a>
				</li>
		</ul>
	</div>

	<div class="intro__slider-container">
		<div class="intro__slider-wrapper swiper" data-intro-slider>
			<div class="intro__slider swiper-wrapper">
				<div class="intro__slide swiper-slide">
					<picture class="intro__slide-img">
						<img class="full-size-img" src="/assets/images/intro/slide-1.jpg" width="960" height="1080" alt="">
					</picture>
				</div>
				<div class="intro__slide swiper-slide">
					<picture class="intro__slide-img">
						<img class="full-size-img" src="/assets/images/intro/slide-2.jpg" width="960" height="1080" alt="">
					</picture>
				</div>
			</div>
			{# <video src="/assets/favicons/vecteezy_seascape-with-a-beautiful-sunset-in-the-evening_3047408.mp4" width="960" height="1080" loop autoplay playsinline muted></video> #}
		</div>
	</div>
</section>
