@font-face {
	font-family: 'ABC Gravity Cyrillic';
	font-weight: 900;
	font-style: normal;
	font-display: block;
	src: inline('../fonts/ABCGravityCyrillic-XXCompressed-Trial.woff2') format('woff2');
}

@include font-face('Cofo Sans', '../fonts/CoFoSans-Medium', 500, normal, woff2 woff);
@include font-face('Cofo Sans', '../fonts/CoFoSans-Regular', 400, normal, woff2 woff);
@include font-face('Stem-Regular', '../fonts/Stem-Regular', 400, normal, woff2 woff);
@include font-face('Stem-Medium', '../fonts/Stem-Medium', 400, normal, woff2 woff);
