.stores-list {
	position: relative;
	display: grid;
	&__table {
		margin-top: rem(-120);
		padding-top: rem(120);
		pointer-events: none;
		&:not(:last-child) {
			margin-bottom: rem(72);

			@media (max-width: $mobile-lg) {
				margin-bottom: rem(55);
			}
		}
		& > * {
			pointer-events: all;
		}
	}
}
