<section class="page__section cta _vacancy">
	<div class="cta__container container">
		<div class="cta__title text-l text-right">
			<p>Не нашли интересующую вакансию?</p>
			<p class="alpha-40">Свяжитесь с нами</p>
		</div>
		<p class="cta__person text-body-universal">
			Зырянова Анна<br>
			<span class="alpha-40">HR-Директор</span>
		</p>
		<p class="cta__contacts text-m-universal-medium uppercase">
			<a href="mailto:balaeva@broscomall.com">balaeva@broscomall.com</a>
			<a href="+7(924)400-39-69">+7 (924) 400-39-69</a>
		</p>
		{{ component('button', {
			className: 'cta__button _more-link _plus',
			text: 'Отправить резюме',
			attr: 'data-popup-opener="vacancy-form"'
		}) }}
	</div>
</section>
